
<h1>Showing a todo</h1>

<p>
  <strong>Name:</strong>
  <%= @todo.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @todo.description %>
</p>

<%= link_to 'Edit todo', edit_todo_path(@todo) %> |
<%= link_to "Back to listing", todos_path %>